<header>
    <div class="name">Jack Decker</div>
    <div>
        <nav class="navBar">
            <a href="/" class="button">Home</a>
            <a href="/projects/" class="button">My Projects</a>
            <a href="#Skills" class="button">Skills</a>
            <a href="https://github.com/Casoosted-Fuper/Resume/blob/60066c3d8c0700304c1c225f8141e26d67802fab/
            Resume%201-13-2026.pdf" class="button">Resume</a>
        </nav>
    </div>
</header>