body {
    height: 100%;
    width: 100%;
    background-image:linear-gradient(160deg, black, black, black, purple);
}

html {
    height: 100%;
    width: 100%;
}

header {
    background-color:rgb(0,0,0,0);
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
    text-align: left;
}

.name {
    float: left;
    color:skyblue;
    padding-left: 80px;
    font-size: 175%;
}

.navBar {
    text-align: right;
    padding-right: 80px;
}

.navBar a {
    float: center;
    color:white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 40px;
}

.navBar a:hover {
  color: #cc00cc;
}

.navBar a.active {
    color: #cc00cc;
}

.bodytitle {
    color: skyblue;
    font-size: 50px;
    text-align: left;
    padding-top: 2.75%;
}

.bodytext {
    color: skyblue;
    font-size: 20px;
    text-align: left;
}

.projectTitle {
    color: salmon;
    font-size: 50px;
    text-align: left;
}

.projecttext {
    color: salmon;
    font-size: 27px;
    text-align: left;
}

.extratitle {
    color: skyblue;
    font-size: 30px;
    text-align: left;
    padding-top: 15px;
}

.extraIcon {
    padding-left: 30px;
}

.extraIconImage {
    transition: transform 0.3s ease-in-out;
    width: 80px;
}

.extraIconImage:hover {
    transform: scale(1.2);
}

.projectButton {
    width: 275px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    transition: transform 0.3s ease-in-out;
}

.projectButton:hover {
    transform: scale(1.2);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.buttonLabel {
    color: salmon;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}